<p>Adding components to <a href="en/XULRunner">XULRunner</a> is simple once you understand how XULRunner registers and saves the components.
</p>
<h2 id="Place" name="Place"> Place </h2>
<p>After a new component has been written it must be placed in the <b><code><i>app</i>/components/</code></b> directory (not <code><i>xulrunner</i>/components/</code>). Put both .dll/.js file and the .xpt(s) in there. Unlike extensions, it must be directly in that directory, not a subdirectory. Then you need to make sure that it gets registered.
</p>
<h2 id="Registration" name="Registration"> Registration </h2>
<p>Most initial problems with components are due to registration.
</p><p>For new components or interface changes of existing ones to be noticed at all, you need to <b>change the buildID</b> in application.ini to trigger a re-registration of the components.
</p><p>Alternatively, you can delete <code>compreg.dat</code> and <code>xpti.dat</code> in the user profile directory - that of your XULRunner app, not that of Firefox/Mozilla. It's named after your vendor and app name in application.ini, e.g.
</p>
<ul><li> Linux: <code>~/.<i>yourcompany</i>/<i>yourapp</i>/<i>oihizuf</i>.default/</code>
</li><li> Windows: <code>%AppData%\<i>Yourcompany</i>\<i>Yourapp</i>\Profiles\<i>jhfdfdi</i>.default\</code>
</li></ul>
