---
title: MDN page layout guide
slug: MDN/Guidelines/Layout
translation_of: Archive/Meta_docs/MDN_page_layout_guide
---
<div><section class="Quick_links" id="Quick_Links">
  <ol>
    <li class="toggle">
        <details>
            <summary>Tentang MDN</summary>
            <ol>
              <li><a href="/id/docs/MDN/About">Tentang MDN</a></li>
              <li><a href="/id/docs/MDN/About/Reading">MDN guide for readers</a></li>
              <li><a href="/id/docs/MDN/About/Promote">Promosikan MDN</a></li>
              <li><a href="/id/docs/MDN/Feedback">Kirim feedback tentang MDN</a></li>
            </ol>
        </details>
    </li>
    <li class="toggle">
        <details>
            <summary>Memulai di MDN</summary>
            <ol>
              <li><a href="/id/docs/MDN/Getting_started">Memulai di MDN</a></li>
            </ol>
        </details>
    </li>
    <li class="toggle">
        <details>
            <summary>Bantu kembangkan MDN</summary>
            <ol>
                <li><a href="/id/docs/MDN/Contribute">Bantu kembangkan MDN</a></li>
                <li><a href="/id/docs/MDN/Contribute/Howto">Hal yang anda bisa lakukan</a></li>
                <li><a href="/id/docs/MDN/Contribute/Localize">Melokalisasi MDN</a></li>
                <li><a href="/id/docs/MDN/Contribute/Editor">MDN editor UI</a></li>
                <li><a href="/id/docs/MDN/Contribute/Tools">Tools for power users</a></li>
                <li><a href="/id/docs/MDN/Contribute/Guidelines">Paduan</a></li>
                <li><a href="/id/docs/MDN/Contribute/Processes">Work processes</a></li>
                <li><a href="/id/docs/MDN/Contribute/Structures">Struktur konten</a></li>
             </ol>
        </details>
    </li>
    <li class="toggle">
        <details>
            <summary>Kuma: the MDN wiki platform</summary>
            <ol>
              <li><a href="/id/docs/MDN/Kuma">Kuma: the MDN wiki platform</a></li>
            </ol>
        </details>
    </li>
    <li class="toggle">
      <details>
          <summary>Bergabung di Komunitas MDN</summary>
          <ol>
            <li><a href="/id/docs/MDN/Community">Bergabung di Komunitas MDN</a></li>
          </ol>
      </details>
    </li>
    <li class="toggle">
      <details>
          <summary>Status Doc berdasar topic</summary>
          <ol>
            <li><a href="/id/docs/MDN/Doc_status">Status Doc berdasar topic</a></li>
            <li><a href="/id/docs/MDN/Doc_status/Overview">Are we documented yet?</a></li>
          </ol>
      </details>
    </li>
  </ol>
</section></div><p><span class="seoSummary">These guides supplement the <a href="/en-US/docs/MDN/Contribute/Content/Style_guide">MDN style guide</a> with specific layouts for the various types of pages on MDN. This helps contributors create new content that's structurally consistent with the rest of MDN.</span></p>
<p><strong>There are no subpages at this time.</strong></p>
