<div class="summary">
 <p>The Layout utility will help you to create common layout structures for your Firefox OS apps. Note that Layout is only available in Firefox OS 2.1 and above.</p>
</div>
<h2 id="Notes">Notes</h2>
<p>You can find this structure in most apps in Firefox OS: Fixed header and footer with scrollable content. Layout is not a design pattern or building block as such — it is more of a reset, or a base for you to build your apps on top of.</p>
<h2 id="Implementation_guides">Implementation guides</h2>
<p><a href="/en-US/Apps/Design/Firefox_OS_building_blocks/Layout/2.1">Layout 2.1 implementation</a></p>